<div class="container">
    <form #myform="ngForm" (submit)="addBook(myform.value)">
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" ngModel required>
        </div>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lastname" ngModel required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" ngModel required>
        </div>
        <div>
            <label for="ph">Mobile Number:</label>
            <input type="number" id="ph" name="ph" ngModel required>
        </div>
        <div>
            <input type="submit" value="Add Book" >
        </div>
    </form>
</div>